@media(min-width: 992px)
		{
			h1{
				text-align: center;
				font-family: Verdana;
			}
			div{
				width: 32%;
				box-sizing: border-box;
				background-color: gray;
				border: 1px solid black;
				margin: 5px;
				float: left;
				position: relative;
			}
			p{
				font-family: Palatino Linotype;
				width: 90%;
				box-sizing: border-box;
				color: black;
				font-weight: bold;
				margin: 15px;
				margin-top: 34px;
			}
			#div1, #div2, #div3{
				border: 1px solid black;
				position: absolute;
				top: -6px;
				right: -6px;
				font-weight: bold;
				text-align: center;
			}
			#div1{
				background-color: lightpink;
			}
			#div2{
				background-color: red;
				color: white;
			}
			#div3{
				background-color: yellow;
			}
		}